/*This errors appear because they are experimental new functions or postcss and intellisense is still not supported
https://intellij-support.jetbrains.com/hc/en-us/community/posts/14360920009106-PostCSS-Support
*/
.title {
    /*noinspection CssInvalidFunction*/
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    /*noinspection CssInvalidFunction*/
    font-size: rem(100px);
    font-weight: 900;
    /*noinspection CssInvalidFunction*/
    letter-spacing: rem(-2px);

    @media (max-width: $mantine-breakpoint-md) {
        /*noinspection CssInvalidFunction*/
        font-size: rem(50px);
    }
}
